## Using Statsmodel

In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [4]:
df=pd.read_csv('MBA Salary.csv')
df.head()

   S. No.  Percentage in Grade 10  Salary
0       1                   62.00  270000
1       2                   76.33  200000
2       3                   72.00  240000
3       4                   60.00  250000
4       5                   61.00  180000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   S. No.                  50 non-null     int64
 1   Percentage in Grade 10  50 non-null     float64
 2   Salary                  50 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.3 KB

In [6]:
x=sm.add_constant(df['Percentage in Grade 10'])
x.head()

   const  Percentage in Grade 10
0    1.0                   62.00
1    1.0                   76.33
2    1.0                   72.00
3    1.0                   60.00
4    1.0                   61.00

In [7]:
y=df['Salary']
y.head()

0    270000
1    200000
2    240000
3    250000
4    180000
Name: Salary, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)
x_train.head()

    const  Percentage in Grade 10
0     1.0                   62.00
11    1.0                   60.00
18    1.0                   70.00
45    1.0                   57.58
38    1.0                   54.00

In [35]:
y_train.head()

0     270000
11    180000
18    231000
45    180000
38    265000
Name: Salary, dtype: int64

In [36]:
df_lm=sm.OLS(y_train,x_train).fit()

In [37]:
print(df_lm.params)

const                     30587.285652
Percentage in Grade 10     3560.587383
dtype: float64

In [38]:
df_lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Ordinary least squares
===================================================================================
Model:                    OLS                   Adj. R-squared:          0.190
Dependent Variable:       Salary                AIC:                     1008.8680
Date:                     2026-01-29 12:17      BIC:                     1012.2458
No. Observations:         40                    Log-Likelihood:          -502.43
Df Model:                 1                     F-statistic:             10.16
Df Residuals:             38                    Prob (F-statistic):      0.00287
R-squared:                0.211                 Scale:                   5.0121e+09
-----------------------------------------------------------------------------------
                         Coef.     Std.Err.    t    P>|t|     [0.025       0.975]
-----------------------------------------------------------------------------------
const                  30587.2857 71869.4497 0.4256 0.6728 -114904.8088 176079.3801
Percentage in Grade 10  3560.5874  1116.9258 3.1878 0.0029    1299.4892   5821.6855
-----------------------------------------------------------------------------------
Omnibus:                    2.048              Durbin-Watson:                 2.611
Prob(Omnibus):              0.359              Jarque-Bera (JB):              1.724
Skew:                       0.369              Prob(JB):                      0.422
Kurtosis:                   2.300              Condition No.:                 413
===================================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly
specified.
"""